<template>
  <section>
    <h1>Tim's Vue Starter Template</h1>
  </section>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  setup() {
    return {};
  }
});
</script>
