<template>
  <h1 class="bg-black">
    {{ name }}
  </h1>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  data: function() {
    return {
      name: "Hello World!"
    };
  }
});
</script>
